Libraries:
    sklearn
    numpy
    pandas
    nltk
    pickle
    nltk.download('stopwords')
    nltk.download('averaged_perceptron_tagger')
    nltk.download('wordnet')
    nltk.download('vader_lexicon')